<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacee</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">  
  <link rel="stylesheet" type = "text/css" href="/css/style.css">

</head>

<body class="stars twinkling">
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center">
      <h1>
        Spacee - Space events and news!
      </h1>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand custom-monospace" href="/">🚀 SPACEE</a>
      
        <div class="navbar-collapse d-flex justify-content-end custom-nav" id="main-navbar">
            <ul class="nav nav-pills nav-fill custom-nav" id = 'custom-nav-ul'>
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" href="/home">HOME</a>
                </li>
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" href="/news">NEWS</a>
                </li>
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" href="/iss">ISS</a>
                </li>
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" href="/potd">PHOTO OF THE DAY</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" id = 'logout' href="/logout">LOG OUT</a>
                </li>
                {{else}}
                <li class="nav-item ml-5 mr-5 custom-nav-li">
                  <a class="nav-link" href="/login">LOG IN</a>
                </li>
                {{/if}}
              </ul>
        </div>
    </nav>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
