<h1>SPACEX TESTING</h1>
<button id="launches-btn">FETCH LAUNCHES</button>

<div id="container"></div>

<div id="calendar-container">
    <iframe src="https://calendar.google.com/calendar/embed?src=space.eventhandler%40gmail.com&ctz=America%2FDetroit"
        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="../js/SpaceX.js"></script>
