<h1 class = 'mb-5'>Below, find all the latest news for space launches within the next several months!</h1>

<div id="calendar-container">
    <iframe src="https://calendar.google.com/calendar/embed?src=space.eventhandler%40gmail.com&ctz=America%2FDetroit"
        style="border: 0" width="1100" height="700" frameborder="0" scrolling="no"></iframe>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="../js/SpaceX.js"></script>